<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="Shs.HomeAuto.Android.Shs.HomeAuto.Android" android:versionCode="1" android:versionName="1.0">
  <uses-sdk android:minSdkVersion="16" />
  <application android:label="Shs.HomeAuto.Android"></application>
</manifest>